body {
  padding-bottom: 20px;
  display: -ms-flexbox;
}

body{
  background-color: rgba(86, 127, 143, 0.54);
}
.navbar{
  background-color: rgba(86, 127, 143, 0.54);
  
}
.navbar-nav li a{
  font-family: 'Raleway', sans-serif;
  border-radius: 70px 70px 70px 70px;
}
.navbar-nav li a:hover{
  background-color: rgba(86, 127, 143, 0.815);
  border-radius: 70px 70px 70px 70px;
}
#headline{
  background-color:  rgba(86, 127, 143, 0.54);
  background-image:url("./image/fronthome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}
#inside{
  background-color:  rgba(86, 127, 143, 0.54);
  border-radius: 53px 53px 53px 53px;
}
#inside h1{
  
  margin-bottom: 30px;
  font-family: 'Dancing Script', cursive;
}
.col .col{
  text-align: center;
}
#firstcol img{
  
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}
#firstcol h2{
  font-family: 'Grenze Gotisch', cursive;
}
#secCol img{
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.col h2{
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
}
.container-accom h1{
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  margin-top: 50px;
  margin-bottom: 50px;
}